# Python
__pycache__/
*.pyc
*.egg-info/
phpcs.phar
dist/
build/

# IDE
.idea/
.vscode/

# Mage2Gen Artifacts (Generated Code)
generated/
*.txt
Mage2Gen/
app/code/

# Local Testing
m2g.yaml
*.log

# Docker/DDEV
.ddev/