<?php
declare(strict_types=1);

namespace {{ namespace }};

use Magento\Framework\GraphQl\Config\Element\Field;
use Magento\Framework\GraphQl\Query\ResolverInterface;
use Magento\Framework\GraphQl\Schema\Type\ResolveInfo;
use Magento\Framework\Exception\NoSuchEntityException;
use Magento\Framework\GraphQl\Exception\GraphQlNoSuchEntityException;
use {{ repository_interface }};

class Get implements ResolverInterface
{
    /**
     * @var {{ repository_short }}
     */
    private $repository;

    /**
     * @param {{ repository_short }} $repository
     */
    public function __construct(
        {{ repository_short }} $repository
    ) {
        $this->repository = $repository;
    }

    /**
     * @inheritdoc
     */
    public function resolve(
        Field $field,
        $context,
        ResolveInfo $info,
        array $value = null,
        array $args = null
    ) {
        $id = $args['{{ id_field }}'];

        try {
            $model = $this->repository->get($id);
            return $model->getData();
        } catch (NoSuchEntityException $e) {
            throw new GraphQlNoSuchEntityException(__($e->getMessage()), $e);
        }
    }
}