<?php
declare(strict_types=1);

namespace {{ namespace }};

use Magento\Framework\App\Helper\AbstractHelper;

class {{ class_name }} extends AbstractHelper
{
    /**
     * @return bool
     */
    public function isEnabled()
    {
        return true;
    }
}