<?php
declare(strict_types=1);

namespace {{ namespace }};

interface {{ class_name }}
{
    /**
     * @param string $param
     * @return string
     */
    public function {{ method_name }}($param);
}