<?xml version="1.0" encoding="UTF-8"?>
<form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Ui:etc/ui_configuration.xsd">
    <argument name="data" xsi:type="array">
        <item name="js_config" xsi:type="array">
            <item name="provider" xsi:type="string">{{ table_name }}_form.{{ table_name }}_form_data_source</item>
        </item>
        <item name="label" xsi:type="string" translate="true">General Information</item>
        <item name="template" xsi:type="string">templates/form/collapsible</item>
    </argument>
    <settings>
        <buttons>
            <button name="save" class="{{ package }}\{{ module }}\Block\Adminhtml\{{ model_name }}\Edit\SaveButton"/>
            <button name="save_and_continue" class="{{ package }}\{{ module }}\Block\Adminhtml\{{ model_name }}\Edit\SaveAndContinueButton"/>
            <button name="delete" class="{{ package }}\{{ module }}\Block\Adminhtml\{{ model_name }}\Edit\DeleteButton"/>
            <button name="back" class="{{ package }}\{{ module }}\Block\Adminhtml\{{ model_name }}\Edit\BackButton"/>
        </buttons>
        <namespace>{{ table_name }}_form</namespace>
        <dataScope>data</dataScope>
        <deps>
            <dep>{{ table_name }}_form.{{ table_name }}_form_data_source</dep>
        </deps>
    </settings>
    <dataSource name="{{ table_name }}_form_data_source">
        <argument name="data" xsi:type="array">
            <item name="js_config" xsi:type="array">
                <item name="component" xsi:type="string">Magento_Ui/js/form/provider</item>
            </item>
        </argument>
        <settings>
            <submitUrl path="*/*/save"/>
        </settings>
        <dataProvider class="{{ package }}\{{ module }}\Model\{{ model_name }}\DataProvider" name="{{ table_name }}_form_data_source">
            <settings>
                <requestFieldName>id</requestFieldName>
                <primaryFieldName>{{ id_field }}</primaryFieldName>
            </settings>
        </dataProvider>
    </dataSource>
    <fieldset name="general">
        <settings>
            <label translate="true">General</label>
        </settings>
        
        <!-- Smart Field Generation -->
        {% for field in fields %}
        {% if field.form_element == 'fileUploader' %}
        <field name="{{ field.name }}">
            <argument name="data" xsi:type="array">
                <item name="config" xsi:type="array">
                    <item name="label" xsi:type="string" translate="true">{{ field.label }}</item>
                    <item name="visible" xsi:type="boolean">true</item>
                    <item name="formElement" xsi:type="string">fileUploader</item>
                    <item name="uploaderConfig" xsi:type="array">
                        <item name="url" xsi:type="url" path="{{ route_id }}/{{ model_lower }}/upload"/>
                    </item>
                </item>
            </argument>
            <settings>
                <validation>
                    {% if field.required %}
                    <rule name="required-entry" xsi:type="boolean">true</rule>
                    {% endif %}
                </validation>
                <dataType>string</dataType>
                <label translate="true">{{ field.label }}</label>
                <dataScope>{{ field.name }}</dataScope>
            </settings>
        </field>
        {% else %}
        <field name="{{ field.name }}" formElement="{{ field.form_element }}">
            <argument name="data" xsi:type="array">
                <item name="config" xsi:type="array">
                    <item name="source" xsi:type="string">{{ model_name|lower }}</item>
                    {% if field.form_element == 'checkbox' %}
                    <item name="default" xsi:type="number">1</item>
                    {% endif %}
                </item>
            </argument>
            <settings>
                <validation>
                    {% if field.required %}
                    <rule name="required-entry" xsi:type="boolean">true</rule>
                    {% endif %}
                </validation>
                
                <dataType>{{ field.data_type }}</dataType>
                <label translate="true">{{ field.label }}</label>
                <dataScope>{{ field.name }}</dataScope>
            </settings>

            {% if field.form_element == 'checkbox' %}
            <formElements>
                <checkbox>
                    <settings>
                        <prefer>toggle</prefer>
                        <valueMap>
                            <map name="false" xsi:type="number">0</map>
                            <map name="true" xsi:type="number">1</map>
                        </valueMap>
                    </settings>
                </checkbox>
            </formElements>
            {% endif %}

            {% if field.form_element == 'select' and field.source_model %}
            <formElements>
                <select>
                    <settings>
                        <options class="{{ field.source_model }}"/>
                    </settings>
                </select>
            </formElements>
            {% endif %}
            
            {% if field.form_element == 'wysiwyg' %}
            <formElements>
                <wysiwyg>
                    <settings>
                        <wysiwyg>true</wysiwyg>
                    </settings>
                </wysiwyg>
            </formElements>
            {% endif %}
        </field>
        {% endif %}
        {% endfor %}
    </fieldset>
</form>