<?php
declare(strict_types=1);

namespace {{ namespace }};

use Magento\Framework\Model\ResourceModel\Db\AbstractDb;

class {{ class_name }} extends AbstractDb
{
    /**
     * @inheritDoc
     */
    protected function _construct()
    {
        $this->_init('{{ table_name }}', '{{ id_field }}');
    }
}