<?php
declare(strict_types=1);

namespace {{ namespace }};

class {{ class_name }}
{
{% if type == 'before' %}
    /**
     * @param \{{ subject_class }} $subject
     * @param mixed ...$args
     * @return array
     */
    public function before{{ method_name|capitalize }}(
        \{{ subject_class }} $subject,
        ...$args
    ) {
        {% if instruction %}
        // @ai-instruction: {{ instruction }}
        // TODO: Implement logic here
        {% endif %}
        return $args;
    }
{% elif type == 'after' %}
    /**
     * @param \{{ subject_class }} $subject
     * @param mixed $result
     * @return mixed
     */
    public function after{{ method_name|capitalize }}(
        \{{ subject_class }} $subject,
        $result
    ) {
        {% if instruction %}
        // @ai-instruction: {{ instruction }}
        // TODO: Implement logic here
        {% endif %}
        return $result;
    }
{% elif type == 'around' %}
    /**
     * @param \{{ subject_class }} $subject
     * @param callable $proceed
     * @param mixed ...$args
     * @return mixed
     */
    public function around{{ method_name|capitalize }}(
        \{{ subject_class }} $subject,
        callable $proceed,
        ...$args
    ) {
        {% if instruction %}
        // @ai-instruction: {{ instruction }}
        // TODO: Implement logic here
        {% endif %}
        $result = $proceed(...$args);
        return $result;
    }
{% endif %}
}