<?php
declare(strict_types=1);

namespace {{ namespace }};

use Magento\Framework\View\Element\Template;

class {{ class_name }} extends Template
{
    /**
     * @param Template\Context $context
     * @param array $data
     */
    public function __construct(
        Template\Context $context,
        array $data = []
    ) {
        parent::__construct($context, $data);
    }

    /**
     * @return string
     */
    public function getMessage()
    {
        return 'Hello from Block: {{ class_name }}';
    }
}