<?php
declare(strict_types=1);

namespace {{ namespace }};

use Symfony\Component\Console\Command\Command;
use Symfony\Component\Console\Input\InputInterface;
use Symfony\Component\Console\Input\InputOption;
use Symfony\Component\Console\Output\OutputInterface;

class {{ class_name }} extends Command
{
    /**
     * @inheritDoc
     */
    protected function configure()
    {
        $this->setName('{{ command_name }}');
        $this->setDescription('{{ description }}');
        parent::configure();
    }

    /**
     * @inheritDoc
     */
    protected function execute(InputInterface $input, OutputInterface $output)
    {
        $output->writeln('Hello from {{ command_name }}');
        return Command::SUCCESS;
    }
}