<?php
declare(strict_types=1);

namespace {{ namespace }};

{% if not admin %}
use Magento\Framework\App\Action\HttpGetActionInterface;
use Magento\Framework\View\Result\PageFactory;
{% endif %}

{% if admin %}
use Magento\Backend\App\Action;
use Magento\Backend\App\Action\Context;
use Magento\Framework\View\Result\PageFactory;

class {{ class_name }} extends Action
{
{% else %}
class {{ class_name }} implements HttpGetActionInterface
{
{% endif %}
    /**
     * @var PageFactory
     */
    protected $resultPageFactory;

    /**
     * Constructor
     *
     * @param PageFactory $resultPageFactory
     */
    public function __construct(
        {% if admin %}Context $context,{% endif %}
        PageFactory $resultPageFactory
    ) {
        $this->resultPageFactory = $resultPageFactory;
        {% if admin %}parent::__construct($context);{% endif %}
    }

    /**
     * Execute view action
     *
     * @return \Magento\Framework\Controller\ResultInterface
     */
    public function execute()
    {
        return $this->resultPageFactory->create();
    }
}