<?php
declare(strict_types=1);

namespace {{ namespace }};

use Magento\Framework\Logger\Handler\Base;
use Monolog\Logger;

class {{ class_name }} extends Base
{
    /**
     * @var int
     */
    protected $loggerType = Logger::INFO;

    /**
     * @var string
     */
    protected $fileName = '/var/log/{{ file_name }}';
}