<?php
declare(strict_types=1);

namespace {{ namespace }};

use Magento\Framework\App\Action\HttpGetActionInterface;
use Magento\Framework\View\Result\PageFactory;
{% if admin %}
use Magento\Backend\App\Action\Context;
{% endif %}

class {{ class_name }} {% if admin %}extends {{ parent_class }}{% else %}implements {{ implements }}{% endif %}
{
    /**
     * @var PageFactory
     */
    protected $resultPageFactory;

    /**
     * Constructor
     *
     * @param PageFactory $resultPageFactory
     */
    public function __construct({{ ctor_args }})
    {
        $this->resultPageFactory = $resultPageFactory;
        {{ parent_call }}
    }

    /**
     * Execute view action
     *
     * @return \Magento\Framework\Controller\ResultInterface
     */
    public function execute()
    {
        {% if instruction %}
        // @ai-instruction: {{ instruction }}
        // TODO: Implement logic here
        {% endif %}
        return $this->resultPageFactory->create();
    }
}